set keyseq-timeout 10
set editing-mode vi
set keymap vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2

TAB:menu-complete
set show-all-if-ambiguous on
set menu-complete-display-prefix on


$if mode=vi
"gg": beginning-of-history
"G": end-of-history
"k": history-search-backward
"j": history-search-forward
$endif
